<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About - InspectX</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Plugin CSS -->
    <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/static/css/freelancer.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">InspectX</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/value">Value my car</a>
                </li>
                <li class="active nav-item mx-0 mx-lg-1">
                    <a class="active nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/about">About</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="masthead bg-primary">
    <div class="container">
        <br><br><br>
        <h2 class="text-center text-uppercase">The Inspection</h2>
        <hr class="mb-5">
        <div class="row">
            <div class="col-lg-12 ml-auto text-left">
                <p class="lead">Our 200-point inspection checklist is the best in the business. <br>Our technicians are the
                    best in the business. <br>The result? <br>The best mechanical and cosmetic inspection available anywhere.
                    Get the exact checklist below!</p>
            </div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-dark" href="/static/img/checklist.pdf" target="_blank">
                <i class="fa fa-download mr-2"></i>
                Inspection
            </a>
        </div>
    </div>
</section>

<section style="background-color: #2E4050;">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">The Mechanics</h2>
        <hr class="mb-5" style="background-color: white;">
        <div class="row text-white">
            <div class="col-lg-12 ml-auto text-left">
                <p class="lead">We give you on-demand access to the best technicians in the auto industry. Each inspectX
                    technician has over 5 years of brand-specific experience at a dealership or independent shop.
                    <br><br>
                    All of that means that our mobile techs are the best way to get the need-to-know on any car you’re
                    buying or selling.</p>
            </div>
        </div>
    </div>
</section>

<section class="portfolio" id="portfolio">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">The Team</h2>
        <hr class="mb-5">
        <br>
        <!-- Grid row -->
        <div class="row text-center">

            <!-- Grid column -->
            <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/static/img/portfolio/frank.jpg"
                         class="rounded-circle z-depth-1" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Frank Kosarek</h5>
                <p class="text-uppercase blue-text"><strong>Founder</strong></p>
                <p class="grey-text">Porsche = life</p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/static/img/portfolio/victor.jpg" class="rounded-circle z-depth-1"
                         alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Victor Fateh</h5>
                <p class="text-uppercase blue-text"><strong>Co Founder</strong></p>
                <p class="grey-text">Must code within petting distance of dog.</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
    </div>
</section>

<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; InspectX 2018</small>
    </div>
</div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/static/js/freelancer.min.js"></script>

</body>

</html>
