<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- HTML Meta Tags -->
    <title>Inspect-X</title>
    <meta name="description"
          content="Need help selling your car? Inspect-X provides an in depth 200 point mobile inspection as well as a complete vehicle valuation to make your life easier.">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Inspect-X">
    <meta itemprop="description"
          content="Need help selling your car? Inspect-X provides an in depth 200 point mobile inspection as well as a complete vehicle valuation to make your life easier.">
    <meta itemprop="image" content="https://www.inspect-x.com/static/img/profile.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.inspect-x.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Inspect-X">
    <meta property="og:description"
          content="Need help selling your car? Inspect-X provides an in depth 200 point mobile inspection as well as a complete vehicle valuation to make your life easier.">
    <meta property="og:image" content="https://www.inspect-x.com/static/img/profile.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Inspect-X">
    <meta name="twitter:description"
          content="Need help selling your car? Inspect-X provides an in depth 200 point mobile inspection as well as a complete vehicle valuation to make your life easier.">
    <meta name="twitter:image" content="https://www.inspect-x.com/static/img/profile.png">

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <link href="/static/css/freelancer.min.css" rel="stylesheet">

    <link href="/static/css/animatedzebra.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/gauge.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>


</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">InspectX</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/value">Value my car</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/about">About</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead bg-primary text-center">
    <div class="container">
        <img style="width:13em;" class="img-fluid mb-5 d-block mx-auto" src="/static/img/profile.png"
             alt="inspectx logo">
        <h1 class="text-uppercase mb-0">InspectX</h1>
        <hr class="star-dark">
        <!--<h2 class="font-weight-light mb-0">Find - Inspect - Love</h2>-->
        <h2 class="mb-0">Inspect - Value - Sell</h2>
    </div>
</header>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0" id="title-start">Interested?</h2>
        <h2 class="text-center text-uppercase text-secondary mb-0" id="title-complete" style="display: none;">All
            set!</h2>
        <br><br>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form name="sentMessage" id="inspection-form" novalidate="novalidate">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Name</label>
                            <input class="form-control" id="name" type="text" placeholder="Name" required="required"
                                   data-validation-required-message="Please enter your name.">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Email Address</label>
                            <input class="form-control" id="email" type="email" placeholder="Email Address"
                                   required="required"
                                   data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Phone Number</label>
                            <input class="form-control" id="phone" type="tel" placeholder="Phone Number"
                                   required="required">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-9 pb-2">
                            <label>City</label>
                            <input type="search" id="location" class="form-control" placeholder="City" required="required"/>

                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group controls mb-0 pb-2">
                            <br>
                            <select class="form-control-lg" name="car-years" id="car-years" required
                                    style="background-color: white;"></select>
                            <select class="form-control-lg" name="car-makes" id="car-makes" required
                                    style="background-color: white;"></select>
                            <select class="form-control-lg" name="car-models" id="car-models" required
                                    style="background-color: white;"></select>
                            <select class="form-control-lg" name="car-model-trims" id="car-model-trims" required
                                    style="background-color: white;"></select>
                        </div>
                        <hr>
                    </div>
                    <div class="control-group">
                        <div class="form-group controls mb-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="text" class="form-control datetimepicker-input" id="date"
                                           data-toggle="datetimepicker" data-target="#date" style="height: 2.8em;"
                                           placeholder="Inspection date" name="date" autocomplete="off"/>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <br>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-xl" style="color: black;"
                                id="sendMessageButton">Request Inspection
                        </button>
                        <div class="loader" id='loading' style="display:none;"></div>
                    </div>
                </form>
                <div id="successAlert" class="alert alert-success text-center" role="alert" style="display:none;"></div>
                <div id="errorAlert" class="alert alert-danger text-center" role="alert" style="display:none;"></div>
                <div class="scene text-center" id="scene" style="display:none;">
                    <img class="car" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/car.svg" alt=""/>
                    <img class="poof" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/poof.svg" alt=""/>
                    <img class="sign" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/sign.svg" alt=""/>
                    <em>LOADING...</em>
                </div>
                <br>

            </div>
        </div>
    </div>
</section>

<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; InspectX 2018</small>
    </div>
</div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<script src="https://cdn.jsdelivr.net/npm/places.js@1.9.0"></script>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript" src="https://www.carqueryapi.com/js/carquery.0.3.4.js"></script>

<!-- Plugin JavaScript -->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/static/js/freelancer.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="{{ url_for('static', filename='js/form.js') }}"></script>

</body>

</html>
